
/* ----------- Phones ----------- */
@media (max-width: 767px) {
	body {
    background: silver;
  }
}

/* ----------- Tablets ----------- */
@media (min-width: 768px) {
	body {
    background: red;
  }
}

/* ----------- Monitors ----------- */
@media (min-width: 1200px) {
  body {
    background: blue; 
  }   
}
